<h1>Booking #<%= params['id'] %></h1>

<h3>Flight Info</h3>
<p><%= @booking.flight %></p>

<h3>Passenger Info</h3>
<p><b>Name: </b><%= @booking.passenger.name %></p>
<p><b>Email: </b><%= @booking.passenger.email %></p>
